* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    box-sizing: border-box;
}

html {
    --main-cl: #064789;
    --second-cl: #427AA1;
    --third-cl: #EbF2Fa;
}

body {
    background-color: var(--second-cl);
}

/* Header Start */

header {
    position: relative;
    width: 100%;
}

header .content {
    overflow: hidden;
    background-color: var(--main-cl);
    color: var(--third-cl);
    width: 100%;
    padding: 20px;
}

header .content .logo {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

header .content .logo img {
    width: 100%;
}

header .content .mainTitle {
    display: inline-block;
    width: calc(100% - (100px + 40px));
    height: 100px;
    position: relative;
}

header .content .mainTitle h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

header .pageTitle {
    display: inline-block;
    font-size: 40px;
    color: var(--main-cl);
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

header .pageTitle h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Header End */
/* Nav Start  */
nav {
    min-height: 100vh;
    width: 20%;
    padding-block: 50px;
    line-height: 3;
    background-color: var(--second-cl);
    float: left;
}

nav ul {}

nav ul li {
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: var(--third-cl);
    font-size: 20px;
    font-weight: 700;
}

/* Nav End  */
/* Content Start  */
.brands {
    width: 80%;
    margin-left: 20%;
    background-color: var(--third-cl);
}

.brands div {
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    width: 39%;
    padding: 50px;
    margin: calc(20% / 4);
}

.brands div a {
    text-decoration: none;
    width: 100%;
}

.brands div a img {
    width: 100%;
}

.brands div a label {
    display: block;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: var(--main-cl);
    margin-top: 20px;
    cursor: pointer;
}

/* Content End  */
.clear {
    clear: both;
}